
extends layout

block layout-content
  img(src="logo.png")
  div.View
    div.Message
      div.Title
        h1 Treck traffic automates accessing and archiving traffic data
        p Helping us Know about traffic conditions on our roads
       
     
    div.NavButtons
      a#start Start execution
      a#excelDb Dowload as excel file
      a#jsonDb Download as Json file  
      a#archive
       div.archivefile Download as archive
